@import './all.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  // font-weight: 400;
}

body{
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}